
/*======================================================================
=            Import all your .scss files, order is very important

	(The file which is not imported will not be include in final build )

	CSS - All the css files will be loaded in the order they appear 
		in the app/css directory
========================================================================*/


// @import "somefile"

/*
  To use bootstrap-sass-official run:
  bower install --save bootstrap-sass-official

  Then uncomment the two lines below:
*/

// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/" !default;
// @import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

[data-content] {
  margin: 20px 0;
}

.drop-placeholder .marker {
  background: #01A9DB;
  z-index: 2;
}

.drop-placeholder._hover .marker {
  display: block !important;
}

.drop-placeholder._hover .marker.debug {
  background-color: orange !important;
}

[data-content], [data-draggable] {
  cursor: move !important;
}

[data-content]._hover {
  border: 1px dotted #999;
  -webkit-user-drag: element;
}

img.th {
  // padding: 10px;
  margin: 10px 0;
}